.flexRowContent--search__not-found--text{
    border: 1px solid var(--grey-400);
    background-color: var(--white-color);
    padding: 5px 50px;
}

.flexRowContent--global__not-found-recommended{
    background-color: var(--white-color);
    padding-bottom: 50px;
}

.flexRowContent--global__not-found-recommended :global(.vtex-store-components-3-x-productBrandContainer--product-list__recommended--brand){
    margin-top: 10px;
}