.flexRowContent--desktop__product--information{
    width: 88%;
    margin: auto;
    border: 1px solid var(--grey-400);
    border-radius: 20px;
}
.flexRow--product__information{
    margin-bottom: 25px;
}
.flexRowContent--global__product--shipping,
.flexRowContent--product__info--benefit{
    border: 1px solid var(--grey-400);
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.flexCol--product__info--button-col :global(.vtex-button){
    border-radius: 10px;
}
.flexRowContent--shipping__delivery--simulator{
    padding: 15px;
    width: 275px;
    border-radius: 8px;
}