.paragraph--product__info--stock{
    font-size: 16px;
    color:var(--color-purple);
    font-weight: 600;
}
.paragraph--product__benefit--text{
    font-size: 16px;
    color: var(--title-color);
    margin: 0;
    margin-right: 5px;
}
.paragraph--product__benefit--text-miles{
    font-size: 16px;
    color: var(--title-color);
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
}

.paragraph--delivery__simulator--title{
    margin: 0;
    color: var(--title-color);
    font-size: 14px;
    font-weight: 600;
}
.paragraph--info__shipping--title{
    color: var(--title-color);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.paragraph--info__shipping--delivery-title,
.paragraph--shipping__delivery--link,
.paragraph--shipping__shop-subtitle{
    margin: 0;
    font-size: 14px;
}
.paragraph--info__shipping--title{
    margin: 0;
    margin-bottom: 15px;
}
.paragraph--shipping__delivery--link{
    color: var(--first-color);
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 15px;
    cursor: pointer;
}
.paragraph--shipping__shop-subtitle{
    font-weight: 600;
    color: var(--grey-500);
}
.strong--info__shipping--delivery-title,
.strong--shipping__shop-subtitle{
    color: var(--title-color);
}
.paragraph--policies__sure--subtitle{
    font-size: 13px;
    text-align: center;
    margin-top: 6px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--grey-800);
}