.imageElement--featured__image{
    padding: 0 10px 10px 0;
    border-radius: 20px;
    width: 100%;
}
.imageElement--seccion__category--image{
    border-radius: 20px;
    margin-bottom: 12px;
}
.imageElement--item__category--image:hover{
    box-shadow: 0px 4px 12px rgb(0 0 0 / 35%);
    border-radius: 50%;
}
