/* Seccion List Benefits */

.paragraph--benefit__item--title,
.paragraph--benefit__item--subtitle{
    margin: 0;
    font-size: 14px;
    color: var(--title-color);
    letter-spacing: -0.4px;
    line-height: 16px;
    text-align: center;
}
.paragraph--benefit__item--title{
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 20px;
}
.paragraph--benefit__item--subtitle{
    font-weight: 300;
}

.link--benefit__item--subtitle {
    color: var(--first-color);
    text-decoration: underline;
    font-weight: 600;
}

.paragraph--home__seccion--title{
    color: var(--grey-700);
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}
@media only screen and (max-width: 768px) {
    .paragraph--benefit__item--title,
    .paragraph--benefit__item--subtitle{
        text-align: left;
        margin-top: 0;
    }  
}

/* Seccion List Shops */

.container--item__shop--link{
    display: flex;
    justify-content: center;
}
.paragraph--item__shop--link{
    font-size: 18px;
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: 6px;
    text-decoration: underline;
}