.sliderArrows--global__slider--list {
    padding: 0;
    margin: 0;
}
.caretIcon--global__slider--list {
    background-color: var(--grey-400);
    margin: 0;
    padding: 25px 10px;
}
.paginationDotsContainer--global__slider--list{
    margin-bottom: 10px;
}
.paginationDot--global__slider--list--isActive{
    background-color: var(--grey-700);
}

.caretIcon--global__slider--list-mobile {
    background-color: transparent;
}
.sliderLayoutContainer--global__list-categories{
    margin-top: 45px;
    margin-bottom: 35px;
}