.sliderArrows--global__slider--list {
    padding: 0;
    margin: 0;
}
.caretIcon--global__slider--list {
    background-color: var(--grey-400);
    margin: 0;
    padding: 25px 10px;
}
.paginationDotsContainer--global__slider--list{
    margin-bottom: 10px;
}
.paginationDot--global__slider--list--isActive{
    background-color: var(--grey-700);
}

.caretIcon--global__slider--list-mobile {
    background-color: transparent;
}
.sliderLayoutContainer--global__list-categories{
    margin-top: 45px;
    margin-bottom: 35px;
}

.sliderLayoutContainer--seccion__list-images :global(.vtex-slider-layout-0-x-imageElement--seccion__list-images){
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.sliderLayoutContainer--seccion__list-images{
    padding-left: 10px;
    padding-right: 10px;
}
.sliderLeftArrow--seccion__list-images{
    left: -30px;
}
.sliderRightArrow--seccion__list-images{
    right: -30px;
}
.caretIcon--seccion__list-images{
    opacity: .4;
}