.flexRow--global__list-categories{
    margin-top: 40px;
}
.flexRowContent--desktop__bar-promo-home{
    background-color: var(--first-color);
    max-height: 58px;
}
.flexRowContent--desktop__bar-discount-home{
    background-color: var(--grey-300);
    max-height: 58px;
}

.flexRowContent--mobile__bar-promo-home{
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 45px;
}
.flexRowContent--mobile__bar-discount-home{
    background-color: var(--grey-300);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 45px;
}

/* Seccion Benefits */
.flexRow--global__benefits{
    padding: 0 15px;
}
.flexCol--global__benefit--item {
    box-shadow: 0 2px 12px rgb(200 200 200 / 20%);
    border-radius: 20px;
    padding: 20px;
    margin-right: 15px;
}
.flexColChild--benefit__item--description{
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
    .flexCol--global__benefit--item {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .flexColChild--global__benefit--item:last-child {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }
    .flexColChild--benefit__item--description{
        display: flex;
        justify-content: left;
    }
} 

/* Seccion featured */

.flexCol--grid__featured--list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.flexRow--desktop__grid-featured-home{
    padding-right: 200px;
    padding-left: 200px;
}
.flexRowContent--featured__list--images-one{
    width: 100%;
    border: 1px solid red
}