.paragraph--footer__help-title,
.paragraph--footer__seller-title{
    margin-bottom: 0;
    font-size: 24px;
    color: var(--title-color);
    font-weight: 600;
}
.paragraph--footer__text-back{
    margin-bottom: 0;
    font-size: 11px;
    color: var(--subtitle-color);
}
.paragraph--footer__text-description,
.paragraph--footer__help-description,
.paragraph--footer__seller-description{
    font-size: 13px;
    color: var(--text-color);
}
.paragraph--footer__text-description{
    margin-top: 0;
    padding-top: 0;
}

.paragraph--help-phone--text,
.paragraph--help-email--text{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8px;

    font-size: 15px;
    color: var(--text-color);
    font-weight: 600;
}

.paragraph--help-email--text{
    margin-left: 13px;
}
.link--help-phone--text,
.link--help-email--text{
    color: var(--first-color);
    text-decoration: none;
}

.paragraph--footer__payments-methods--text{
    padding: 0;
    margin: 2px 0 0 0;
    color: var(--title-color);
    font-size: 13px;
    position: relative;
    left: 60px;
}
.paragraph--footer__sure--text,
.paragraph--footer__vtex--text{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
    /* margin-bottom: 0; */
}
.paragraph--seller__social-networks--text{
    font-weight: 600;
    color: var(--text-color);
}