.menuContainerNav--global__footer--menu{
    background-color: var(--blue-100);
}
.menuItem--menu-item__footer{
    width: 20%;
    /* border: 1px solid blue; */
    border-left: 1px solid var(--grey-400);
    padding-top: 5px;
    padding-bottom: 5px;
}
.styledLinkContent--menu-item__footer{
    color: var(--first-color);
    text-decoration: underline;
    font-size: 16px;
    display: flex;
    justify-content: center;
}