.childrenContainer--tab__supermarket--link,
.childrenContainer--tab__shop--link{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.link--tab__supermarket--link,
.link--tab__shop--link{
    text-decoration: none;
}