.headingLevel2--terms-conditions{
    text-align: center;
    color: var(--first-color);
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 0;
}
.paragraph--terms-conditions{
    color: var(--grey-800);
}
.link--terms-conditions{
    color: var(--grey-800);
    text-decoration: none;
}

.strong--terms-conditions{
    color: var(--first-color);
}