.container--item__shop--link{
    display: flex;
    justify-content: center;
}
.paragraph--item__shop--link{
    font-size: 18px;
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: 6px;
    text-decoration: underline;
}