.paragraph--footer__payments-methods--text{
    padding: 0;
    margin: 2px 0 0 0;
    color: var(--title-color);
    font-size: 13px;
    position: relative;
    left: 60px;
}
.paragraph--footer__sure--text,
.paragraph--footer__vtex--text{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
}
@media only screen and (max-width: 980px) {
    .paragraph--footer__sure--text{
        margin-left: 60px;
    }
}