/* @font-face {
    font-family: 'Rubik-Black';
    src: url(assets/fonts/Rubik-Black.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Rubik-BlackItalic';
    src: url(assets/fonts/Rubik-BlackItalic.ttf);
    font-weight: 900;
}
@font-face {
    font-family: 'Rubik-Bold';
    src: url(assets/fonts/Rubik-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Rubik-BoldItalic';
    src: url(assets/fonts/Rubik-BoldItalic.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Rubik-ExtraBold';
    src: url(assets/fonts/Rubik-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Rubik-ExtraBoldItalic';
    src: url(assets/fonts/Rubik-ExtraBoldItalic.ttf);
    font-weight: 800;
}
@font-face {
    font-family: 'Rubik-Italic';
    src: url(assets/fonts/Rubik-Italic.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Rubik-Light';
    src: url(assets/fonts/Rubik-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Rubik-LightItalic';
    src: url(assets/fonts/Rubik-LightItalic.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Rubik-Medium';
    src: url(assets/fonts/Rubik-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik-MediumItalic';
    src: url(assets/fonts/Rubik-MediumItalic.ttf);
    font-weight: 500;
} */
@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/Rubik-Regular.ttf);
    font-weight: 400;
}
/* @font-face {
    font-family: 'Rubik-SemiBold';
    src: url(assets/fonts/Rubik-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Rubik-SemiBoldItalic';
    src: url(assets/fonts/Rubik-SemiBoldItalic.ttf);
    font-weight: 600;
} */
