.paragraph--seller__social-networks--text{
    font-weight: 600;
    color: var(--text-color);
}
.paragraph--seller__social-networks--text{
    margin-right: 10px;
}

@media only screen and (max-width: 980px) {
    .paragraph--footer__text-description,
    .paragraph--footer__help-description,
    .paragraph--footer__seller-description,
    .paragraph--footer__help-title,
    .paragraph--footer__seller-title{
        text-align: center;
    }
}