.paragraph--search-list__recommended--title{
    font-size: 21px;
    font-weight: 600;
    color: var(--title-color);
    /* line-height: 32px; */
    text-align: center;
}
.paragraph--search__not-found--message{
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 0px;
}

.wrapper--search__not-found--message{
    font-size: 18px;
    line-height: 1.7;
}
.link--search__not-found--message{
    color: var(--first-color);
}