.caretIcon--slider__product-list-recommended-search{
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 5px;
    width: 10px;
    height: 25px;
    border-radius: 8px;
}

.paginationDotsContainer--slider__product-list-recommended-search{
    bottom: -25px;
}

.paginationDot--slider__product-list-recommended-search--isActive{
    background-color: var(--first-color);
}

.sliderLeftArrow--slider__product-list-recommended-search{
    left: -25px;
}
.sliderRightArrow--slider__product-list-recommended-search{
    right: -25px;
} 